/.venv/
.venv/

**/.venv/

__pycache__/
**/__pycache__/

*.py[cod]

.pytest_cache/

.ruff_cache/

.coverage
coverage.xml

.mypy_cache/
.dmypy.json

dist/
build/
*.egg-info/

*.log

.DS_Store

.env
.env.*
